/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* fine reset */
html{
    font-size: 15px;
}
.m-1{
    margin-left: 1%;
}
.intro{
    background-image: url(../img/pattern.png);
    background-repeat:repeat;
    background-size: cover;
    background-size: 17%;
    background-color: rgb(0, 174, 255);
    
}
 .immagine{
    width: 13%;
    padding: 20px 0;
    }
h1{
    font-size: 3rem;
    padding: 10px 0;
    margin-right: 40%;
    }

.blue{
    color: rgba(0, 162, 255, 0.925);
    margin-top: 0;
}
.special{
    color: rgba(163, 163, 162, 0.959);
    font-size: 15px;
}

.tim{
    padding: 20px 0;
}

.desc-photo{
    font-size: 15px;
}

.yellow{
    background-color: yellow;
    display: inline-block;
    font-size: 20px;
}

.p-speciale{
    font-size: 20px;
    margin-right: 0.5%;
    padding: 20px 0;
}

ul{
    font-size: 20px;
    margin-left: 2%;
}

thead{
    font-size: 20px;
    color: white;
    background-color: turquoise;
}

.turquise{
    width: 30%;
    height: 10%;
    margin-right: 20px;
}

.tr-color{
    background-color: rgba(144, 240, 247, 0.986);  
    }

.lorem{
    width: 30px;
    height: 50px;
    font-size: 20px;
    }

.lorem2{
    font-size: 18px;
    margin-left: 2px;
}
